/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/rails_app_active_record/tmp/
/spec/rails_app_mongoid/tmp/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.ruby-gemset
.ruby-version
*.sqlite3
*.log
*.gemfile.lock
.idea
